<header>
    <title>MTB Planner</title>
    <h1> MTB Planner<i class="gg-shape-hexagon"></i></h1>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">

<!-- image -->
<link href='https://css.gg/shape-hexagon.css' rel='stylesheet'>





    <script src="/app.js" defer> </script>
    <link rel="stylesheet" href="/styles.css">
</header>