<header>
    <title>MTB Planner</title>
    <h1> MTB Planner</h1>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">
    <script src="/app.js" defer> </script>
    <link rel="stylesheet" href="/styles.css">
</header>