<header>
    <title>MTB Planner</title>
    <h1> MTB Planner</h1>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap" rel="stylesheet">

<!-- image -->
<a href="http://clipart-library.com/clip-art/bike-clipart-transparent-21.htm"><img src="http://clipart-library.com/images_k/bike-clipart-transparent/bike-clipart-transparent-21.png" width="192" height="120" /></a>




    <script src="/app.js" defer> </script>
    <link rel="stylesheet" href="/styles.css">
</header>